@import "../../../assets/variables/variables";

#forbidden {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.number {
  padding-top: 70px;
}

h1 {
  color: $pink;
  font-size: 14em;
}

p {
  color: $pink;
  font-size: 5em;
}
