@media (min-height: 650px) {
  #googleMap {
    width: 90%;
    margin-left: 5%;
    height: 600px;
  }
}

div {
  margin-left: 5%;
}

agm-map {
  height: 600px;
  width: 90%;
}

img {
  max-height: 200px;
  max-width: 200px;
}
