@import "../../../assets/variables/variables";

#homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: stretch;
  background: url('../../../assets/img/salar.jpg') no-repeat center fixed;
  background-size: cover;
}

button {
  background-color: transparent;
  border: 1px solid $grey;
  border-radius: 0;
}
