<div class="container">
  <h1>Last Posts</h1>

  <div *ngFor="let article of articles">
    <h2> {{article.title }} </h2>
    <h3>
      <small class="text-right">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        {{article.creationDate | date:'short' }}
      </small>
      <button *ngIf="currentUser && currentUser.firstName" type="button" class="btn btn-primary btn-sm"
              [routerLink]="['../edit', article.id]">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Edit
      </button>
      <button *ngIf="currentUser && currentUser.firstName" type="button" class="btn btn-danger btn-sm"
              (click)="remove(article.id)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        Remove
      </button>
    </h3>
    <p>
      {{ article.content}}
    </p>
  </div>

  <pre> {{ articles | json }}</pre>
</div>
