$dark-blue: #0C304A;
$light-blue: #2B79A1;
$white: #F3F4F1;

$color1: #3B596A;
$color2: #427676;
$color3: #3F9A82;
$color5: rgb(196, 208, 139);
$color4: #ECDB60;

//$dark-grey: rgb(54, 56, 57);
$grey: rgb(76, 100, 105);
//$light-grey: rgb(142, 165, 168);
//$color2: rgb(35, 146, 150);
//$color4: rgb(181, 191, 135);
//$blue: rgb(134, 209, 210);
