$dark-blue: #0C304A;
$light-blue: #2B79A1;
$white: #F3F4F1;

$almost-blue: #3B596A;
$green: #427676;
$yellow: #ECDB60;

$dark-grey: rgb(54, 56, 57);
$grey: rgb(76, 100, 105);
$light-grey: rgb(142, 165, 168);
$dark-green: rgb(35, 146, 150);
$light-green: rgb(181, 191, 135);
$blue: rgb(134, 209, 210);
