<div *ngIf="!currentUser || !currentUser.firstName" class="alert alert-danger" role="alert">
  You should be logged to see this content
</div>
<div class="container">
  <div *ngIf="currentUser && currentUser.firstName">

    <div class="alert alert-danger" [hidden]="!_imageTooBig">
      <strong>Danger!</strong> The image is too big (>3Mo)
    </div>
    <h1>Create an article</h1>
    <form #articleForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="article.title" name="title" #title="ngModel"
               required>
      </div>
      <div class="form-group">
        <label for="content">Text</label>
        <textarea class="form-control" id="content" rows="10" [(ngModel)]="article.content" name="content"
                  #content="ngModel" required></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <!-- TODO handle several photos in input multiple="multiple" -->
        <input type="file" accept="image/*" (change)="handleInputChange($event)"
               name="file"
               class="form-control"
               id="image">
      </div>
      <div *ngIf="photos" class="form-group">
        <img *ngFor="let photo of photos" width="200px" height="200px" id="{{photo}}" src=""
             alt="Preview"
             class="img-rounded">
      </div>
      <div>
        <button type="button" (click)="onPickAnotherDate()" class="btn btn-primary">Pick another date</button>
        <input type="date"
               *ngIf="anotherDate"
               class="form-control" id="date"
               [(ngModel)]="article.creationDate" name="date" #date="ngModel"
        >
      </div>
      <div>
        <span>
        <div class="form-group">
          <input placeholder="Start typing your address..." autocorrect="off" autocapitalize="off" spellcheck="off"
                 type="text" class="form-control" #search [formControl]="searchControl">
        </div>
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
          </span>
      </div>
      <div class="form-group">
        <br>
        <button type="button" [disabled]="!articleForm.form.valid || _imageTooBig" (click)="onSave(article)"
                class="btn btn-success">Post
        </button>
        <button type="button" (click)="clear()" class="btn btn-primary">Clear</button>
      </div>
    </form>
  </div>
</div>




