<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">Voyages</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/list">Articles</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/map">Carte</a>
        </li>
        <li *ngIf="currentUser.firstName" routerLinkActive="active">
          <a routerLink="/edit">Créer</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="currentUser && currentUser.firstName">
          <a>Bonjour {{ currentUser.firstName }} {{ currentUser.lastName }}</a>
        </li>
        <li *ngIf="currentUser && currentUser.firstName">
          <button (click)="logOut()" mat-icon-button class="login">
            <i class="material-icons md-48">exit_to_app</i>
          </button>
        </li>
        <li *ngIf="!currentUser.firstName">
          <button class="login" routerLink="/auth" mat-icon-button>
            <i class="material-icons md-48">person</i>
          </button>
        </li>

      </ul>
    </div>


  </div>
</nav>
