<div class="container col-sm-offset-2 col-sm-8">
  <div class="panel panel-primary ">
    <div class="panel-heading">Sign In</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 col-sm-offset-2 control-label">Username</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-sm-offset-2 control-label">Password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-5 col-sm-2">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
