<div id="auth">
<div class="container col-sm-offset-2 col-sm-8">
  <h1 *ngIf="user.firstName"> Hi {{ user.firstName }} {{ user.lastName}}</h1>
  <div class="panel panel-primary ">
    <div class="panel-heading">Sign In
    </div>
    <div class="panel-body">
      <div *ngIf="wrongLogin" class="alert alert-danger" role="alert">
        Try again! Wrong password and /or username!
      </div>
      <form class="form-horizontal" #authForm="ngForm">
        <div class="form-group">
          <label class="col-sm-2 col-sm-offset-2 control-label" for="username">Pseudo</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Pseudo" id="username"
                   [(ngModel)]="user.username" name="username" #username="ngModel" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-sm-offset-2 control-label" for="password">Password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" placeholder="Password" id="password"
                   [(ngModel)]="user.password" name="password" #password="ngModel" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-5 col-sm-2">
            <button type="submit" [disabled]="!authForm.form.valid" (click)="logIn(user)" class="btn btn-primary">Sign
              in
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
