@import '../../assets/variables/variables';

#auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: stretch;
  background: url('../../assets/img/salar.jpg') no-repeat center fixed;
  background-size: cover;
}

.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.panel {
  border-radius: 0;
}

.panel-heading {
  border-radius: 0;
}

.container {
  padding-bottom: 180px;
}

.panel-primary {
  border-color: $grey;
}

.panel-heading {
  background-color: $grey;
  border-color: $grey;
}

.btn-primary {
  background-color: $grey;
  border-color: $grey;
}

.btn-primary:hover {
  background-color: $color2;
  border-color: $color2;
}

//input#username:focus {
//  border-color: $color5;
//}

.form-control:focus {
  border-color: $color2;
  box-shadow: inset 0 1px 1px $color2, 0 0 8px $color2;
}
